<p id="notice"><%= notice %></p>

<p>
  <strong>Money:</strong>
  <%= @cost.money %>
</p>

<p>Category: <%= @cost.category %><p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
