<!DOCTYPE html>
<html>
<head>
	
<%= javascript_include_tag "application" %>
  <title>AccountApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% unless user_signed_in? %>
	<%= link_to "signup", new_user_registration_path %>
	<%= link_to "login", new_user_session_path %>
	<% else %>
	
<%= link_to "登出", destroy_user_session_path,method:'delete' %>
<%= link_to 'My Costs', costs_path %>
<%= link_to 'Dashboard', dashboard_path %>

	<% end %>
<%= link_to 'Home', root_path %>

<%= yield %>

</body>
</html>
